.header {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 15px 40px -20px rgba(40, 44, 63, 0.15);
  width: 100%;
}
.logo {
  width: 150px;
  border-radius: 75px;
}
.logo-container {
  display: flex;
  align-items: center;
}
.app-title {
  color: #f76800;
  text-shadow: 1px 1px 2px pink;
  font-family: Gilroy-Bold, sans-serif;
  font-size: 60px;
}
.nav-items > ul {
  display: flex;
  list-style-type: none;
  font-family: "Gilroy-Bold", sans-serif;
}
.res-info-list > ul {
  display: block;
  list-style-type: none;
  font-family: "Gilroy-Bold", sans-serif;
}
.res-info-list > ul > li {
  display: flex;
  margin: 5px;
}
.nav-items > ul > li {
  font-family: "Gilroy-Bold";
  font-size: medium;
  padding: 10px 20px;
  margin: 10px;
}
.res-container {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}
.res-card {
  width: 200px;
  padding: 10px;
  margin: 5px;
  transition: transform 0.2s;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.res-card:hover {
  cursor: pointer;
  transform: scale(0.95);
}
.res-logo {
  width: 200px;
  height: 150px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.search {
  padding: 10px;
}
.res-cuisine-eta {
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 19px;
  letter-spacing: -0.3px;
  color: rgba(2, 6, 12, 0.6);
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  overflow-wrap: break-word;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.res-title {
  font-family: "Gilroy-Bold", sans-serif;
  margin: 0px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.3px;
  color: rgba(2, 6, 12, 0.92);
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  overflow-wrap: break-word;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.res-rating-container {
  display: flex;
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: -0.3px;
  color: rgba(2, 6, 12, 0.92);
  overflow: hidden;
  width: 100%;
}
.res-star-icon {
  object-fit: contain;
  width: 20px;
  height: 20px;
  background-color: white;
}
.filter-btn {
  margin: 10px;
  display: flex;
  padding: 5px;
  border-color: #f4bb36;
  color: darkgoldenrod;
  border-radius: 5px;
  background-color: white;

  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.filter {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.res-search-input {
  margin: 10px;
  height: 25px;
  width: 300px;
  border-color: #f4bb36;
  border-radius: 5px;
  font-family: "Gilroy", sans-serif;
  padding: 5px;
}
.shim-card {
  width: 200px;
  padding: 10px;
  margin: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.shim-logo {
  width: 200px;
  height: 150px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: linear-gradient(-45deg, #eee 40%, #fafafa 50%, #eee 60%);
  background-size: 300%;
  background-position-x: 100%;
  animation: shimmer 1s infinite linear;
}
@keyframes shimmer {
  to {
    background-position-x: 0%;
  }
}
.shim-title {
  background: linear-gradient(-45deg, #eee 40%, #fafafa 50%, #eee 60%);
  background-size: 300%;
  background-position-x: 100%;
  animation: shimmer 1s infinite linear;
  font-family: "Gilroy-Bold", sans-serif;
  width: 100px;
  height: 12px;
  margin-top: 5px;
}

.shim-container {
  display: flex;
  flex-wrap: wrap;
}

.shim-cuisine-eta {
  background: linear-gradient(-45deg, #eee 40%, #fafafa 50%, #eee 60%);
  background-size: 300%;
  background-position-x: 100%;
  animation: shimmer 1s infinite linear;
  font-family: "Gilroy-Bold", sans-serif;
  width: 150px;
  height: 12px;
  margin-top: 5px;
}
.shim-rating-container {
  background: linear-gradient(-45deg, #eee 40%, #fafafa 50%, #eee 60%);
  background-size: 300%;
  background-position-x: 100%;
  animation: shimmer 1s infinite linear;
  font-family: "Gilroy-Bold", sans-serif;
  width: 130px;
  height: 12px;
  margin-top: 5px;
}
.login {
  display: flex;
  width: auto;
  height: min-content;
  margin: auto;
  font-family: "Gilroy-Bold";
  border: 0;
  background: white;
  color: darkgoldenrod;
  font-size: 16px;
}
.search-btn {
  color: #b8860b;
  background-color: #fff;
  border-color: #f4bb36;
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
  font-family: Gill Sans, Gill Sans MT, Calibri, Trebuchet MS, sans-serif;
}
.error-container {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.trivia-text {
  margin: 15px;
  font-size: small;
  text-wrap: wrap;
  line-break: auto;
  color: darkgray;
  font-family: sans-serif;
}
.trivia-title {
  text-align: center;
  font-size: x-large;
  font-family: monospace;
  color: cadetblue;
  margin: 10px;
  text-wrap: wrap;
}
.trivia-container {
  display: block;
  align-items: center;
}
.res-info-container {
  border-radius: 15px;
  border-top-right-radius: 5px;
  width: auto;
  margin: 15px;
  padding: 15px;
  box-shadow: 0 4px 8px #0003, 0 6px 20px #00000030;
}
.res-info-title {
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 22px;
  margin: 15px;
}
.res-info-eta-ratings {
  font-family: "Gilroy-Bold", sans-serif;
  padding: 3px;
  margin-left: 3px;
}
.res-info-outlet {
  font-family: "Gilroy-Bold", sans-serif;
  padding: 3px;
  margin-left: 15px;
}
.res-info-areaName {
  margin-left: 3px;
  color: #f76800;
}
.res-menu-item-container {
  border-bottom: 1px solid lightgray;
}
.res-menu-item-rating-container {
  letter-spacing: -0.3px;
  color: #02060ceb;
  width: 25%;
  font-family: Gilroy, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  display: flex;
  overflow: hidden;
  border-bottom: 2px dotted;
  margin: 5px;
}
.res-menu-item-name {
  margin-bottom: 10px;
  margin-top: 10px;
}
.res-menu-item-desc {
  font-size: 10px;
  text-wrap: wrap;
  width: 40%;
  color: darkgray;
  font-family: sans-serif;
  margin-bottom: 10px;
}
.res-list-items {
  display: flex;
}
.res-list-item-img {
  width: 200px;
  height: 150px;
  margin: 5px;
  padding: 5px;
  border-radius: 15px;
}
.res-list-item-img-add-container {
  text-align: center;
  display: block;
  margin: 15px;
}
.res-list-item-add-btn {
  width: 75%;
  padding: 5px;
  background: white;
  border-radius: 5px;
}
.res-list-item-details {
  width: 100%;
}
.res-item-price-offer {
  font-size: 12px;
  line-height: 2em;
}

a,
u {
  text-decoration: none;
}
.user-card {
  border-radius: 15px;
  width: auto;
  margin: 15px;
  padding: 10px;
  box-shadow: 0 4px 8px #0003, 0 6px 20px #00000030;
}
.git-info-container {
  margin: 10px;
}
.git-user-img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
.git-user-name {
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 20px;
  display: block;
  line-height: 1em;
}
.git-user-location {
  font-family: "Gilroy-Bold", sans-serif;
  display: block;
  font-size: 14px;
  line-height: 1em;
  color: #f76800;
}
.git-user-bio {
  color: darkgrey;
  font-family: Gilroy-Bold, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  display: block;
}
.git-user-summary {
  font-family: Gilroy-Bold, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  display: block;
}
